$roboto: 'Roboto', sans-serif;
$openSans: 'Open Sans', sans-serif;
$yellowTail: 'Yellowtail', cursive;

$main: #274c5b;
$green: #7eb693;
$yellow: #efd372;
$gray: #d4d4d4;
$grayLight: F9F8F8;
$greenLight: #eff6f1;
$darkGray: #525c60;
$white: #ffffff;
